.About {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.collapse {
  margin: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
}

/* .collapsible .content {
  padding: 10px;
}  */

.collapse button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 52px;
  text-align: left;
  border-radius: 5px;
}

.About .LogementButton {
  width: 73.4%;
}

/* .collapsible button:hover {
  background-color: #0056b3;
} */
