/*HOME*/
.banner {
  height: 223px;
  width: 87%;
  display: grid;
  place-items: center;
  position: relative;
  margin-bottom: 45px;
  padding: 0 92px;
}

.banner > * {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.banner-image {
  height: 223px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.banner-text {
  text-align: center;
  z-index: 2;
  padding-inline: 16px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media (max-width: 550px) {
  .banner {
    height: 111px;
    margin-bottom: 30px;
    padding: 0 25px;
  }
  .banner-image {
    height: 111px;
  }
  .banner-text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 217px;
    height: 48px;
    top: 31px;
    left: 16px;
  }
}
