/*HOME*/
.banner {
  height: 223px;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.banner > * {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.banner-image {
  height: 223px;
  width: 87%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.banner-text {
  text-align: center;
  z-index: 2;
  padding-inline: 16px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
