.card-block {
  background: #f6f6f6;
  width: 87%;
  display: flex;
  height: auto;
  margin-left: 6.5%;
  border-radius: 10px 10px 10px 10px;
}

.gallery {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 92px;
  width: 87%;
}

.galleryGrid {
  display: flex;
  background: #f6f6f6;
  border-radius: 25px;
}

.card-gallery {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  gap: 50px;
  padding: 50px;
}

.card-link {
  height: 340px;
  width: 100%;
  transition: transform 0.3s;
  text-decoration: none;
}

.card > * {
  grid-row: 1 / -1;
  grid-column: -1 / 1;
}

.card {
  display: grid;
  height: 340px;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.card p {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.25rem; /* 20px */
  font-size: 18px; /* 1.125rem */
  z-index: 2;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

/* @media (max-width: 768px) {
  .galleryGrid {
    background-color: transparent;
  }
  .card-gallery {
    grid-template-columns: 40% 40%;
    align-items: center; 
    gap: 30px;
    padding: 0;
    background-color: transparent;
  }
  .card-link {
    height: 300px;
    width: 100%;
    transition: transform 0.3s;
    text-decoration: none;
  }
  .card img {
    height: 300px;
  }
  .card {
    height: 300px;
  }
} */

@media (max-width: 768px) {
  .gallery {
    padding: 0 25px;
  }
  .galleryGrid {
    background-color: transparent;
  }
  .card-gallery {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Center the items in the column */
    gap: 30px;
    padding: 0;
    background-color: transparent;
  }
  .card-link {
    height: 255px;
    width: 100%;
    transition: transform 0.3s;
    text-decoration: none;
  }
  .card img {
    height: 255px;
  }
  .card {
    height: 255px;
  }
}
