/* Carousel.css */

.BannerCarousel {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.BannerPictures {
  height: 415px;
  width: 87%;
}

.BannerPictures img {
  width: 100%;
  height: 415px;
}

.ButtonPictures {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(-21px);
}
