.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 209px;
  gap: 20px;
  margin-top: 45px;
  width: 100%;
}

.footer img {
  width: 122px;
  height: 40px;
}
.copyright {
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  gap: 5px;
}
@media (max-width: 550px) {
  .footer {
    margin-top: 30px;
    width: 100%;
  }
  .copyright {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 133.59px;
    height: 46px;
    top: 105px;
    left: 121.09px;
  }
}
