.header-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  margin-bottom: 45px;
  padding: 0 92px;
  width: 87%;
}

.header-primary img {
  width: 145px;
  height: 46.88px;
}

.header-primary ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

li {
  list-style-type: none;
}

.navlink {
  color: red;
}

@media (max-width: 550px) {
  .header-primary {
    margin-bottom: 30px;
    padding: 0 25px;
  }
}
