.header-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  width: 87%;
  padding-left: 7%;
}

.header-primary ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

li {
  list-style-type: none;
}

.navlink {
  color: red;
}
