/* Logement */

.bannerLogement {
  height: 415px;
  /* display: flex; */
  /* justify-content: center; */
  /* position: relative; */
  width: 87%;
  margin-left: 7%;
}

.bannerLogement-image {
  height: 415px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}
.InfoCss {
  padding: 0 92px;
  width: 87%;
}
.LogementPictures {
  display: none;
}

.LogementInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LogementLocationName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogementLocation h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: red;
  margin: 0;
  padding: 0;
}

.LogementLocation p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: red;
}

.LogementName {
  display: flex;
  gap: 10px;
  margin-bottom: 37px;
}

.LogementName img {
  border-radius: 50%;
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.LogementName p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: red;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.LogementTags {
  display: flex;
  gap: 50px;
  width: 24%;
}

.LogementTags p {
  border: 1px solid red;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.LogementDescriptionEquipement {
  display: flex;
  justify-content: center;
  gap: 76px;
}

.LogementButton {
  width: 70%;
}

.LogementButton .content {
  padding: 10px 20px 20px 20px;
  border-radius: 10px 10px 5px 5px;
  background: #f6f6f6;
}

.LogementButton button {
  background-color: red;
  color: white;
  /* padding: 8px 16px; */
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.LogementTagsRatings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.LogementMobile {
  display: none;
}
/*test slide*/

@media (max-width: 550px) {
  .InfoCss {
    padding: 0 25px;
  }
  .LogementMobile {
    display: flex;
    flex-direction: column;
  }
  .LogementInfo {
    display: none;
  }
  .LogementLocation h1 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
    margin: 0;
    padding: 0;
  }
  .LogementLocation p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
    margin: 0;
    padding: 0;
  }
  .LogementRatingName {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .LogementName {
    margin: 0;
  }
  .LogementDescriptionEquipement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .LogementButton {
    width: 100%;
  }

  .LogementTags {
    width: 100%;
  }

  .LogementTags p {
    height: 14px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    width: 27%;
  }
  .LogementName img {
    width: 32px;
    height: 32px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
  }
  .LogementName p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
  }

  .LogementButton button {
    height: 30px;
  }
}
