/* Logement */

.bannerLogement {
  --banner-height: 415px; /* 13.9375rem */
  --banner-width: 100%;
  --banner-border-radius: var(--border-radius-2);
  height: var(--banner-height);
  width: var(--banner-width);
  display: grid;
  place-items: center;
  position: relative;
  border-radius: var(--banner-border-radius);
}

.bannerLogement-image {
  height: var(--banner-height);
  width: 87%;
  object-fit: cover;
  border-radius: var(--banner-border-radius);
  border-radius: 10px 10px 10px 10px;
}

.LogementPictures {
  display: none;
}

.LogementInfo {
  width: 87%;
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}
.LogementLocationName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogementLocation h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: red;
  margin: 0;
  padding: 0;
}

.LogementName {
  display: flex;
}

.LogementName img {
  border-radius: 50%;
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.LogementName p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: red;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.LogementTags {
  display: flex;
  gap: 50px;
}

.LogementTags p {
  border: 1px solid red;
  width: 125px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.LogementDescriptionEquipement {
  display: flex;
  justify-content: center;
  gap: 76px;
}

.LogementButton {
  width: 70%;
}

.LogementButton .content {
  padding: 10px;
}

.LogementButton button {
  background-color: #007bff;
  color: white;
  /* padding: 8px 16px; */
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

/* Logement */
